@font-face {
    font-family: 'GilroyLight';
    src: url('gilroy_light_macroman/gilroy-light-webfont.woff2') format('woff2'),
    url('gilroy_light_macroman/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GilroyExtraBold';
    src: url('gilroy_extrabold_macroman/gilroy-extrabold-webfont.woff2') format('woff2'),
    url('gilroy_extrabold_macroman/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

